.newContainer {
    display: flex;
    height: 100px;
    background-color: gray;
    margin-bottom: 20px;
}

.title {
    flex: 1;
    padding-top: 20px;
    padding-left: 15px;
    width: 80%;
    font-size: 32px;
}

.collapsable {
    width: 25%;
}

.flex-container {
    display: flex;
}

.portfolio, .aboutMe {
    padding-top: 25px;
    width: 50%;
    text-align: center;
    font-size: 25px;
}

.navbar-brand {
    -webkit-text-stroke: 0.5px black;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .portfolio, .aboutMe {
        padding-top: 25px;
        width: 50%;
        text-align: center;
        font-size: 16px;
    }
    .collapsable {
        width: 50%;
    }
    .title {
        flex: 1;
        padding-top: 25px;
        padding-left: 10px;
        width: 70%;
        font-size: 25px;
    }
  }