.miniprojectcard {
    margin-left: 12.5%;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    width: 75%;
    background-color: rgb(228, 212, 192);
    box-shadow: 2.5px 3px rgb(133, 132, 106);
}

#resize {
    max-width: 450px;
    width: 98%;
    height: auto;
}

.miniTitle {
    width: 100%;
    justify-self: center;
    height: 85px;
    font-size: 42px;
}

.column {
    float: left;
    width: 45%;
    margin-left: 10px;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
        width: 100%;
        margin-left: 0px;
        padding: 0px;
    }
  }

.spacer{
    margin-bottom: 20px;
    padding-bottom: 20px;
}