.fixed-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
}

.social {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}